[Desktop Entry]
Type=Service
Icon=encode
Actions=encode
Encoding=UTF-8
Version=0.7
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/avi;video/mp4;video/mpeg;video/msvideo;video/ogg;video/quicktime;video/theora;video/vnd.rn-realvideo;application/vnd.rn-realvideo;video/x-matroska;video/x-mpeg;video/x-mpeg2;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogg;video/x-ogm;video/x-quicktime;video/x-theora;video/x-avi;video/x-flv;audio/x-wav;audio/aac;audio/x-flac;audio/x-mp3;audio/mpeg;audio/mp3;audio/vorbis;audio/x-ms-wma;audio/vnd.rn-realaudio;application/vnd.rn-realaudio;audio/mp4;audio/x-musepack;audio/x-wavpack;audio/x-m4a;audio/x-real-audio;audio/amr;audio/x-amr;audio/ogg;application/ogg;video/webm;audio/flac;video/x-matroska

[Desktop Action encode]
#Exec=2video4mobile.sh %F
#@TODO: check if savefilename is same as filename -> error!
#@TODO: put the ffmpeg parameters somewhere separate to allow easier editing
#@TODO: read out ffmpeg status and show a kde progressbar
Exec=encode %F
Icon=encode
Name=Convert
Name[de]=Konvertiere
Name[fr]=Convertir
Name[zh_CN]=è½¬æ¢æˆ 
