[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=openAsRoot; 
ServiceTypes=inode/directory

[Desktop Action openAsRoot]
Name=Open As root
Name[de]=Als root öffnen
Icon=folder-red
Exec=kdesu -c "dolphin --caption 'Dolphin Root' %f"
