<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE greeter SYSTEM "greeter.dtd">

<greeter id="theme">
	<style  font="FreeSans 9" window-text-color="#141312"
		base-color="#00FFFFFF" alternate-base-color="#00666666"
		disabled-base-color="#00FFFFFF"
		highlight-color="#6094CF"
		text-color="#333333" disabled-text-color="#808080"/>

<!-- backgound image -->
	<item type="pixmap" id="background" background="true">
		<normal file="background.jpg"/>
		<pos anchor="c" x="50%" y="50%" width="100%" height="100%"/>
	</item>

<!-- Neptune Logo -->
	<item type="pixmap">
		<normal file="logo.png"/>
		<pos anchor="n" x="50%" y="10%" width="241" height="104"/>
	      </item> 

<!-- Dialog Container -->
	<item type="rect" id="greeter">
		<pos y="50%" x="50%" anchor="c" width="460" height="297"/>
	<fixed>

<!-- login dialog -->
		<item type="pixmap">
			<normal file="login.png"/>
			<pos anchor="nw" x="0" y="0" width="100%" height="100%"/>
		</item>

<!-- User List -->
		<item type="rect">
			<pos anchor="sw" x="5%" y="90%" width="160" height="220"/>
		<fixed>
			<item type="pixmap">
				<pos y="50%" x="50%" anchor="c" width="100%" height="100%"/>
				<normal file="userlist.png"/>
			</item>
			<item type="list" id="userlist">
				<pos anchor="c" x="50%" y="50%" width="158" height="218"/>
				<color labelcolor="#00ffffff" altlabelcolor="#00ffffff"/>
			</item>
		</fixed>
		</item>
<!-- Welcome Label -->
		<item type="label" id="welcome">
			<pos anchor="c" x="50%" y="25"/>
			<normal font="FreeSans Bold 10"/>
			<stock type="welcome-label"/>
		</item>

<!-- System button -->
		<item type="pixmap" id="system_button" button="true">
			<show modes="console" type="system"/>
			<normal file="system.png"/>
			<prelight file="system-hover.png"/>
			<active file="system-press.png"/>
			<pos anchor="c" x="95%" y="25"/>
		</item>

<!-- Session button -->       
		<item type="pixmap" id="session_button" button="true">
			<normal file="session.png"/>
			<prelight file="session-hover.png"/>
			<active file="session-press.png"/>
			<pos anchor="c" x="5%" y="25"/>
		</item>
            
<!-- talker container -->
		<item type="rect" id="talker">
			<pos x="95%" y="90%" anchor="se" width="250" height="220"/>
			<box orientation="vertical" xpadding="0" ypadding="0" spacing="0">
				<item type="label">
					<pos x="50%" y="150%" anchor="s"/>
					<stock type="username-label"/>
				</item>
				
				
				
				<item type="rect">
					<pos anchor="nw" x="3%" y="75%" width="240" height="22"/>
					<fixed>
					<item type="pixmap">
						<pos y="50%" x="50%" anchor="c" width="100%" height="100%"/>
						<normal file="text.png"/>
					</item>
					<item type="entry" id="user-entry">
						<pos anchor="c" x="50%" y="50%" width="100%" height="100%"/>
					</item>
					</fixed>
				</item>
				
				
				
				<item type="label">
					<pos x="50%" y="270%" anchor="s"/>
					<stock type="password-label"/>
				</item>
				
				
				<item type="rect">
					<pos anchor="nw" x="3%" y="200%" width="240" height="22"/>
					<fixed>
					<item type="pixmap">
						<pos y="50%" x="50%" anchor="c" width="100%" height="100%"/>
						<normal file="text.png"/>
					</item>
					<item type="entry" id="pw-entry">
						<pos anchor="c" x="50%" y="50%" width="100%" height="100%"/>
					</item>
					</fixed>
				</item>
			</box>
		</item>
		<item type="button" id="login_button">
			<pos anchor="se" x="95%" y="90%"/>
			<normal font="FreeSans Bold 10"/>
			<color button-text-color="#141312" button-color="#E8E7E7"/>
			<stock type="login"/>
		</item>

	</fixed>
	</item>

	<item type="label" id="caps-lock-warning">
		<normal color="#FFEB55" font="FreeSans 9"/>
		<pos anchor="c" x="50%" y="70%"/>
		<stock type="caps-lock-warning"/>
	</item>
	<item type="label" id="pam-error">
		<pos anchor="c" x="50%" y="80%"/>
		<normal color="#E20700" font="FreeSans Bold 9"/>
		<text/>
	</item>
	<item type="label" id="clock">
		<pos anchor="se" x="99%" y="99%"/>
		<normal color="#FFFFFF" font="FreeSans Bold 9"/>
		<text>%c</text>
	</item>

	<item type="rect" id="timed-label">
		<pos anchor="s" x="50%" y="99%" width="box" height="box"/>
		<box orientation="vertical" xpadding="50" ypadding="5" spacing="0">
			<item type="label">
				<normal color="#FFFFFF" font="FreeSans 9"/>
				<pos x="50%" anchor="n"/>
				<stock type="timed-label"/>
			</item>
		</box>
	</item>
</greeter>
