[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Neptune Home Page
Comment=The offical web site of the Neptune Project
Icon=/usr/share/pixmaps/start-kde-neptune.png
Type=Link
URL=https://www.neptuneos.com

