Package: neptune-base
Version: 4.3.0
Architecture: all
Maintainer: Leszek Lesner <leszek@zevenos.com>
Installed-Size: 58558
Depends: librsvg2-common, neptune-faenza-icons-minimal | neptune-faenza-icons, ttf-droid-sans-mono, ttf-exo2
Suggests: gnome | kde-standard | xfce4 | wmaker | vlc-nox
Conflicts: desktop-base
Replaces: base-files, kde-etcskel, zevenos-kdm
Provides: kde-etcskel, zevenos-kdm
Section: x11
Priority: optional
Homepage: http://www.zevenos.com/neptune
Description: common files for the Debian Desktop
 This package contains various miscellaneous files which are used by
 Neptune Desktop installations.  Currently, it provides some
 Neptune-related artwork and themes,
 and other common files between the available desktop environments
 such as GNOME and KDE.
