<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Simply Smooth Adium Message Style (Icons)</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.simply.smooth.icons.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Simply Smooth (Icons)</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>MessageViewVersion</key>
	<integer>3</integer>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>13</integer>
    	<key>ShowsUserIcons</key>
	<false/>
	<key>DisableCustomBackground</key>
	<false/>
	<key>DefaultBackgroundColor</key>
	<string>FFFFFF</string>
	<key>DefaultVariant</key>
	<string>Normal</string>
</dict>
</plist>
