[Desktop Entry]
Encoding=UTF-8
Name=Default Neptune Panel
Name[ar]= Neptune اللوحة المبدئية
Name[ast]=Panel predetermináu Neptune
Name[bg]=Подразбиращ се панел Neptune
Name[bs]=Podrazumijevani panel Neptune
Name[ca]=Plafó per omissió Neptune
Name[ca@valencia]=Plafó per omissió Neptune
Name[cs]=Výchozí panel Neptune
Name[da]=Standardpanel Neptune
Name[de]=Standard-Kontrollleiste Neptune
Name[el]=Προκαθορισμένος πίνακας Neptune
Name[en_GB]=Default Panel Neptune
Name[es]=Panel predeterminado Neptune
Name[et]=Vaikimisi paneel Neptune
Name[eu]=Panel lehenetsia Neptune
Name[fi]=Oletuspaneeli Neptune
Name[fr]=Tableau de bord par défaut Neptune
Name[ga]=Painéal Réamhshocraithe Neptune
Name[gu]=મૂળભૂત પેનલ Neptune
Name[he]=Neptune לוח ברירת מחדל
Name[hi]=डिफ़ॉल्ट पटल Neptune
Name[hr]=Zadani panel Neptune
Name[hu]=Alapértelmezett panel Neptune
Name[ia]=Pannello predefinite Neptune
Name[id]=Panel Standar Neptune
Name[is]=Sjálfgefið spjald Neptune
Name[it]=Pannello predefinito Neptune
Name[ja]=標準のパネル Neptune
Name[kk]=Әдетті панель Neptune
Name[km]=បន្ទះ​លំនាំដើម Neptune
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ (ಡಿಫಾಲ್ಟ್) ಪುಟಿಕೆ (ಪ್ಯಾನಲ್) Neptune
Name[ko]=기본 패널 Neptune
Name[lt]=Numatytas skydelis Neptune
Name[lv]=Noklusētais panelis Neptune
Name[nb]=Standardpanel Neptune
Name[nds]=Standardpaneel Neptune
Name[nl]=Standaard paneel Neptune
Name[pa]=ਡਿਫਾਲਟ ਪੈਨਲ Neptune
Name[pl]=Domyślny panel Neptune
Name[pt]=Painel Predefinido Neptune
Name[pt_BR]=Painel padrão Neptune
Name[ro]=Panou implicit Neptune
Name[ru]=Стандартная панель Neptune
Name[si]=පෙරනිමි පැනලය Neptune
Name[sk]=Štandardný panel Neptune
Name[sl]=Privzeti pult Neptune
Name[sr]=Подразумевани панел Neptune
Name[sr@ijekavian]=Подразумијевани панел Neptune
Name[sr@ijekavianlatin]=Podrazumijevani panel Neptune
Name[sr@latin]=Podrazumevani panel Neptune
Name[sv]=Standardpanel Neptune
Name[tg]=Панели стандартӣ Neptune
Name[th]=พาเนลปริยาย Neptune
Name[tr]=Öntanımlı Panel Neptune
Name[ug]= Neptune كۆڭۈلدىكى تاختا
Name[uk]=Типова панель Neptune
Name[wa]=Sicriftôr prémetou Neptune
Name[x-test]=xxDefault Panelxx Neptune
Name[zh_CN]=默认面板 Neptune
Name[zh_TW]=預設面板 Neptune
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-desktop
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Leszek Lesner
X-KDE-PluginInfo-Email=leszek@zevenos.com
X-KDE-PluginInfo-Name=org.kde.plasma-desktop.NeptunePanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.zevenos.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
