[Desktop Entry]
Name=Caledonia/Wave Remix Neptune
Comment=Theme to integrate NewWave GTK theme with Caledonia systray icons, tray widgets and progress bars.

X-KDE-PluginInfo-Author=Leszek Lesner
X-KDE-PluginInfo-Email=leszek@zevenos.com
X-KDE-PluginInfo-Name=CaledoniaWaveRemixNeptune
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC_BY-SA
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=Neptune
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1200