[KSplash Theme: Neptune-Caledonia]
Name = Neptune Caledonia
Description = Neptune Splash. Based on Caledonia Splash.
Version = 1.0
Author = Leszek Lesner
Homepage = http://www.zevenos.com
Engine = KSplashX
License = GPL
